@import "tailwindcss";

@plugin "daisyui" {
    themes: valentine --default
}

@theme {
    --shadow-glow2: 0px 0px 14px 10px;
}

.btn {
    border-radius: 8px;
}

.action-buttons {
    @apply w-20 h-20 bg-primary text-white rounded-full cursor-pointer transition-all duration-300
}
.action-buttons:hover {
    transform: scale(1.1);
}
.action-buttons:active {
    transform: scale(0.9);
    @apply shadow-glow2 shadow-amber-300
}


@utility isometric {
    background-color: #e5e5f7;
    background-image:  linear-gradient(30deg, #dc6bdc 12%, transparent 12.5%, transparent 87%, #dc6bdc 87.5%, #dc6bdc), linear-gradient(150deg, #dc6bdc 12%, transparent 12.5%, transparent 87%, #dc6bdc 87.5%, #dc6bdc), linear-gradient(30deg, #dc6bdc 12%, transparent 12.5%, transparent 87%, #dc6bdc 87.5%, #dc6bdc), linear-gradient(150deg, #dc6bdc 12%, transparent 12.5%, transparent 87%, #dc6bdc 87.5%, #dc6bdc), linear-gradient(60deg, #dc6bdc77 25%, transparent 25.5%, transparent 75%, #dc6bdc77 75%, #dc6bdc77), linear-gradient(60deg, #dc6bdc77 25%, transparent 25.5%, transparent 75%, #dc6bdc77 75%, #dc6bdc77);
    background-size: 34px 60px;
    background-position: 0 0, 0 0, 17px 30px, 17px 30px, 0 0, 17px 30px;
}

@utility wavy {
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 17px), repeating-linear-gradient(#dc6bdc55, #dc6bdc);
}

@utility sky {
    background-image: url('/blue-sky.png');
}
@utility sunset {
    background-image: url('/sunset.png');
}
@utility moon {
    background-image: url('/moon.png');
}
