---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="w-full h-screen bg-base-200">
		<section class="max-w-screen-xl bg-base-300 h-full mx-auto rounded-lg">
			<h3 class="">Quick shoot your moments</h3>
			<a href="/photobox">Take a photo</a>
		</section>
	</main>
</Layout>
