---
import PhotoBox from "../components/react-components/PhotoBox";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="w-full bg-base-200 flex justify-center items-start relative">
        <PhotoBox client:only/>
    </div>
</Layout>
